.content {
    display: flex;
    align-items: center;
}

.box {
    position: relative;
    min-width: 320px;
    min-height: 320px;
    border: 1px solid var(--black);
    margin: 1em;
}

.dot {
    position: absolute;
    pointer-events: none;
    border: 5px solid var(--black);
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.history {
    display: flex;
    flex-wrap: wrap;
    height: 200px;

    & #dots {
        min-width: 100%;
    }
    & .button-action {
        flex: 1;
        margin: 0.5em;
    }

    & .button-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        min-width: 100%;
        border: 1px solid black;
    }
}

